[Unit]
Description=captivePortal dhcp and web Service
After=dhcpcd5.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/captivePortal
ExecStart=/usr/local/bin/node --max-old-space-size=250 bullServer.js
Restart=always

[Install]
WantedBy=multi-user.target
