[Unit]
Description=captivePortal DNS local Service
After=dhcpcd5.service

[Service]
Type=forking
User=root
WorkingDirectory=/opt/Network/DNS

ExecStart=/usr/sbin/dnsmasq --conf-file=/opt/Network/DNS/dnsmasq.global.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
