[Unit]
Description=Scan and Connect to 100- wifi
Wants=network.target
Before=dhcpcd5.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/Network/WifiScanner
EnvironmentFile=/opt/Network/WifiScanner/ScanAndConnect.conf
ExecStart=/opt/Network/WifiScanner/ScanAndConnect.sh $ESSID $ESSID_PASSWORD
Restart=on-abort

[Install]
WantedBy=multi-user.target
