[Unit]
Description=Scan and Connect to 100- wifi
Wants=network.target
Before=dhcpcd5.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/captivePortal
ExecStart=/opt/captivePortal/ScanAndConnect.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
